.home_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.home_btns {
  display: flex;
  flex-direction: column;
}

.home_btn {
  padding: 15px 10px;
  border-radius: 20px;
  font-weight: 600;
  background-color: black;
  color: white;
  font-size: large;
  border: none;
  margin: 15px 10px;
  min-width: 30vw;
}

.home_btn:hover {
  text-shadow: 0 0 8px white;
  cursor: pointer;
}

.home_btn:hover:nth-child(1) {
  box-shadow: 0px 4px 1px 2px rgb(136 0 255);
}

.home_btn:hover:nth-child(2) {
  box-shadow: 0px 4px 1px 2px rgb(17, 241, 1);
}

.home_btn:hover:nth-child(3) {
  box-shadow: 0px 4px 1px 2px rgb(255, 0, 212);
}

.img_home {
  width: 0;
}

@media screen and (min-width: 768px) {
  .home_content {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .img_home {
    width: 38vw;
  }
}
