* {
  font-family: 'Courier New', Courier, monospace;
}

body,
p,
h1 {
  margin: 0;
  padding: 0;
}

.login,
.register,
.home,
.transaction,
.transaction-success,
.transaction-history {
  width: 100vw;
  height: 100vh;
}

/* .transaction-history {
  width: 100vw;
  min-height: 100vh;
} */
