header {
  background-color: black;
  width: 100vw;
  color: white;
  display: flex;
  height: 120px;
  justify-content: center;
  position: absolute;
  right: 0;
}

header svg {
  width: 65px;
  z-index: 1;
}

.infos-navbar {
  margin: 0 6%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.navbar_span {
  background-color: rgb(46, 46, 46);
  border-radius: 20px;
  padding: 8px 12px;
  font-size: small;
  z-index: 1;
}

.balance-user {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 1.2em;
  height: 110px;
  justify-content: center;
  z-index: 1;
}

.logout_btn {
  border: 2px solid white;
  padding: 8px 12px;
  border-radius: 25px;
  font-weight: 600;
  background-color: black;
  color: white;
  font-size: large;
}

.logout_btn:hover {
  box-shadow: 0px 3px 1px 2px rgb(255, 0, 212);
  text-shadow: 0 0 8px white;
  cursor: pointer;
}

.ocult_div:hover {
  cursor: pointer;
  text-shadow: 0 0 8px white;
}

@media screen and (min-width: 425px) {
  .navbar_span {
    font-size: medium;
  }
}

@media screen and (min-width: 600px) {
  header {
    height: 100px;
  }

  header svg {
    width: 100px;
  }

  .logout_btn {
    padding: 10px 14px;
  }

  .balance-user {
    flex-direction: row;
  }

  .navbar_span {
    font-size: large;
    font-weight: 900;
    background-color: rgb(46, 46, 46);
    border-radius: 20px;
    padding: 10px 14px;
  }
}
